body {
  color: #fff;
  background-color: #494b4d;
}

.info {
  width: 800px;
  margin: 0 auto;
  margin-top: 1em;
  text-align: left !important;
}

.progress-tp {
	background-color: #f4b042;
}

.progress-mana {
	background-color: #0e5cb5;
}