body {
  color: #fff;
  background-color: #494b4c;
}

.progress-tp {
	background-color: orange;
}

.progress-mana {
	background-color: #283593;
}

.active {
  visibility: visible !important;
}

.container.abilities,
.container.rotation,
.container.result {
	padding: 15px;
	background-color: #939393;
	box-shadow: inset 4px 4px 15px -2px black;
	border-radius: 15px 25px 5px 5px;
	margin-bottom: 1em;
}

.actions, .statuses {
  #margin-top: 0.5em;
  border: 1px solid transparent;
  padding: 2px;
}

.header {
	font-weight: bold;
	padding-left: 0.3em;
	padding-bottom: 1px;
	border-radius: 7px 24px 0px 0px;
	margin-top: 0.5em;
}

.header.rotation,
.header.statuses {
	background-color: #494b4c;
}	

.rotation-action {
  display: inline-block;
  position: relative;
  border: 2px dashed transparent;
  margin-top: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

.rotation .actions,
.result .actions,
.rotation .statuses {
	border-color: #494b4c;
	background-color: #737373;
}
.rotation .actions img {
	width: 24px;
	height: 24px;
}

.header img,
.header img{
	width: 24px;
	height: 24px;	
}

.BLM, .SMN, .RDM, .MNK, .DRG, .SAM, .BRD, .MCH,
.caster, .melee, .ranged {
	background-color: #84230d;
}

.border-BLM, .border-SMN, .border-RDM, 
.border-MNK, .border-DRG, .border-SAM, 
.border-BRD, .border-MCH,
.border-caster, .border-melee, .border-ranged {
	border-color: #84230d;
	background-color: #837373
}



.actions .action .cooldown {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 2px black, 0 0 2px black;
  font-weight: bold;
  color: #fff;
}

.actions .action,
.actions .action * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

.action {
  display: inline-block;
  position: relative;
  border: 2px dashed transparent;
  margin-top: 2px;
}

.action img {
	width: 40px;
	height: 40px;
}

.statuses .status .cooldown {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-shadow: 0 0 2px black, 0 0 2px black;
  #font-weight: bold;
  color: #fff;
}

.status {
  display: inline-block;
  position: relative;
  border: 2px dashed transparent;
  margin-top: 2px;
  margin-bottom: 1em;
}

.status img {
	width: 24px;
	height: 32px;
}



.actions .action.highlight {
  border-color: #d0a21a;
  
}

.actions .action.disabled img {
  filter: grayscale(20%) contrast(60%) brightness(60%);
}

.green {
  color: #0c0;
}

.yellow {
  color: #ff0;
}

.orange {
  color: #f80;
}